<?xml version="1.0" encoding="UTF-8"?>
<!-- Spring 定时器相关配置 放在这里 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
   <bean id="baseJob" class="com.microsoft.msdn.util.job.BaseJobImpl" abstract="true">
       <property name="sendImmediately" value="${ACTIVITYSEND}"/>
       <property name="threadPool" ref="threadPool"/>
   </bean>

  <!-- 定时器启动器 -->
    <bean lazy-init="true" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <!--
        <property name="dataSource" ref="dataSource"/>
        <property name="transactionManager" ref="transactionManager"/>      -->
        <property name="applicationContextSchedulerContextKey" value="application"/>
        <property name="configLocation" value="classpath:quartz.properties"/>
         <property name="triggers">
             <list>
                <!--<ref bean="mailSenderQueueJobTrigger"/>-->
             </list>
         </property>
    </bean>


</beans>